* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(187, 187, 187);
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: sans-serif;

}

.main {
    background-color: rgb(187, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    gap: 50px;
    flex-wrap: wrap;
    flex-grow: 1;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.footer a {
    text-decoration: none;
    color: #444;
    padding: .4em;
    border-radius: 8px;
    transition: background-color .2s,
                color .2s;
    font-size: .85rem;
}

.footer a:hover {
    background-color: rgba(0,0,0,1);
    color: white;
}

.footer i {
    width: 50px;
    height: 50px;
    position: relative;
}

.footer i::before {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 18%;
}



/* @media (max-width: 712px) {
    #drawing-board {
        width: 300px !important;
        height: 300px !important;
    }
} */

.row, .block {
    flex-shrink: 1;
}


#drawing-board {
    flex-shrink: 1;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 20px -10px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    /* outline: 1px solid red; */
}
/* disable dragging */
div {
    -webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
	cursor: default;
}

/* .block {
    width: 62px;
    height: 62px;
    display: inline-block;
} */

.row {
    display: flex;
}

button {
    padding: 1em;
    border: 0;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.control-btn {
    width: 100%;
}

button:hover::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.1);
    border-radius: inherit;
}


#color-picker {
    background-color: transparent;
    border: none;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

.control-btn:first-of-type{
    margin-top: 10px;
}

.info {
    text-align: center;
    line-height: 2;
}

.info p:first-child {
    font-size: 1.5rem;
    font-weight: bold;
}

/* color picker styles */

input[type="color"] {
	-webkit-appearance: none;
	width: 50px;
	height: 50px;
    aspect-ratio: 1/1;
    cursor: pointer;
    position: relative;
}

/* input[type="color"]:hover::-webkit-color-swatch {
    background-color: black;
} */

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
    /* border: 3px solid white; */
    border-radius: 30px;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 30px;
}


input[type="color"]::after {
    transform: scale(0);
    transition: transform 0.15s ease-in;
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 5px;
    bottom: -10px;
    border-radius: 50%;
    right: 0;
    left: 0;
    filter: blur(2px);
}

input[type="color"]:hover::after {
    
    transform: scale(1);
}

input[type="color" i]:disabled::before {
    content: '';
    top: 0;
    position: absolute;
    border-radius: 30px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}


/* range styles */
input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100px;
    border-radius: 10px;
}

input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    cursor: pointer;
    background-color: #404a70;
    border-radius: 10px;
    border: 0;
}
input[type=range]::-webkit-slider-thumb {
    border: 0;
    width: 15px;
    aspect-ratio: 1/1;
    border-radius: 20px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #404a70;
}


label[for="grid-size"] {
    white-space: nowrap;
    background-color: white;
    border-radius: 8px;
    padding: .6em;
    font-size: .9rem;
}